langchain-community
langchain-core
langchain-text-splitters
langchain_experimental
langchain-groq
python-dotenv
langchain-huggingface
sentence-transformers
pydantic
pypdf
fastapi
uvicorn
python-multipart
pydantic-settings>=2.0.0
asyncpg>=0.28.0
bcrypt>=4.0.0
pydantic[email]
pgvector
langchain-classic
tiktoken
docx2txt
unstructured[docx,pptx,xlsx]
pytest