langchain
langchain-core
langchain-text-splitters
langchain_experimental
langgraph
langchain-groq
python-dotenv
langchain-huggingface
sentence-transformers
pydantic
langchain-postgres
pypdf
fastapi
uvicorn
jinja2
python-multipart
pydantic-settings>=2.0.0
asyncpg>=0.28.0
bcrypt>=4.0.0
pydantic[email]
requests
pyyaml
pgvector
langchain-classic
tiktoken 